@import url(http://fonts.googleapis.com/css?family=Josefin+Slab|Muli|Lato|Nobile|Lobster+Two&subset=latin&v2);

$accentred     : #FF5252;
$white         : #ffffff;

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lobster Two', cursive;
}

#artwork-table tbody tr:hover {
  background-color: $accentred;
  cursor: pointer;

  td {
    color: $white;
  }

  a {
    color: $white;
  }
}

.categories-index li {
  list-style: none;
  font-size: 1.5em;
}
